@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&family=Momo+Trust+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.headerTitle{
  font-family: 'Momo Signature', cursive;
}
.headerButton{
  font-family: 'Momo Trust Display';
}
.footerFont{
  font-family: "Playfair Display", serif;
}
svg path {
  fill: transparent;
  stroke: #fff;
  stroke-width: 2;
  stroke-dasharray: 725;
  stroke-dashoffset: 725;
  animation: textAnimation 4s forwards ease-in-out;
}

@keyframes textAnimation {
  0% {
    stroke-dashoffset: 725;
  }
  80% {
    fill:transparent
  }
  100% {
    fill: #fff;
    stroke-dashoffset: 0;
  }
}
